html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-size: 0;
}

h1 {
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
}

img {
	width: 60%;
	height: auto;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 20%;
}

.gallery {
	display: inline-block;
	width: calc(100%/3);
}

.gallery:nth-child(odd) {
	background-color: grey;
}

.gallery:nth-child(even) {
	background-color: black;
	color: white;
}

.gallery p {
	font-size: 16pt;
	text-align: center;
}

.gallery img {
	width: 90%;
	height: auto;
	margin: 0;
	margin-left: 5%;
	text-align: center;
}

.gallery img:last-child {
	margin-bottom: 0.2cm;
}