{% extends "base.html" %}

{% block title %}PubSNE: Upload CSV{% endblock %}

{% block content %}
<h1>Upload CSV</h1>

<p>This page is for if you want to upload a new CSV file to work from as the public data reference. If you go to <a href="https://sne.space/">sne.space</a>, follow along their information and enter appropriate search parameters, then export the csv for the selected sne, you can upload that csv file below here to be used in the pubsne data processing.</p>

<form action="{{ url_for('uploadcsv') }}" method=post enctype=multipart/form-data>
	<p>CSV file:</p><input type=file name=file>
	<input type=submit value=Upload>
</form>
{% endblock %}